[Unit]
Description=Slippy UDP service
After=multi-user.target

[Service]
Type=simple
Restart=always
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python /usr/local/lib/slippyudp/slippyudp.py
ExecStartPre=firewall-cmd --permanent --zone=public --add-service=slippyudp
ExecStartPre=firewall-cmd --reload
ExecStopPost=firewall-cmd --permanent --zone=public --remove-service=slippyudp
ExecStopPost=firewall-cmd --reload

[Install]
WantedBy=multi-user.target
